<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <title>Menu</title>
    </head>
    <body>

        <div class="container text-center mx-auto m-5">
            <div class="col-lg-4 col-xl-8 card mx-auto p-3 pb-5">
                <h1 class="d-block p-2 m-3">Salud en casa</h1>

                <ul class="nav nav-tabs">
                    <li><a data-toggle="tab" class="mx-3 col-md-3 offset-md-3" href="#usuarios">Usuarios</a></li>
                    <li><a data-toggle="tab" class="mx-3" href="#productos" onclick='obtenerProductos();'>Productos</a></li>
                    <li><a data-toggle="tab" class="mx-3" href="#pedidos" onclick='obtenerPedidos();'>Pedidos</a></li>
                </ul>

                <div class="tab-content my-3">
                    <div id="usuarios" class="tab-pane fade">
                        <div id="accordion">
                            <div class="card my-1">
                                <div class="card-header" id="headingOne">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            Gestionar mensajeros
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                                    <div class="card-body">
                                          <a href="#" class="btn btn-success">Registrar</a>
                                          <a href="#" class="btn btn-primary">Editar</a>
                                          <a href="#" class="btn btn-danger">Eliminar</a>
                                    </div>
                                </div>
                            </div>
                            <div class="card my-1">
                                <div class="card-header" id="headingTwo">
                                    <h5 class="mb-0">
                                       <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                          Gestionar administradores
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                    <div class="card-body">
                                        <a href="#" class="btn btn-success">Registrar</a>
                                        <a href="#" class="btn btn-primary">Editar</a>
                                        <a href="#" class="btn btn-danger">Eliminar</a>
                                    </div>
                                </div>
                            </div>
                            <div class="card my-1">
                                <div class="card-header" id="headingThree">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                            Gestionar clientes
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                    <div class="card-body">
                                        <a href="#" class="btn btn-success">Registrar</a>
                                        <a href="#" class="btn btn-primary">Editar</a>
                                        <a href="#" class="btn btn-danger">Eliminar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="productos" class="tab-pane fade">
                        <!--
                        <div class="card">
                          <div class="card-body">
                              <div class="media">
                                <img class="align-self-center mr-3" src="..." alt="Generic placeholder image">
                                <div class="media-body">
                                  <h5 class="mt-0">Center-aligned media</h5>
                                  <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                                  <p class="mb-0">Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                                </div>
                              </div>
                          </div>
                        </div>
                    -->
                    </div><div id="pedidos" class="tab-pane fade">
                        <!--
                        <div class="card">
                          <div class="card-body">
                              <div class="media">
                                <img class="align-self-center mr-3" src="..." alt="Generic placeholder image">
                                <div class="media-body">
                                  <h5 class="mt-0">Center-aligned media</h5>
                                  <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                                  <p class="mb-0">Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                                </div>
                              </div>
                          </div>
                        </div>
                    -->
                    </div>
                </div>







            </div>
        </div>

        <script src="js/menuController.js"></script>
        <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAYtXI0A6NWrxZMQ003FPiV2FQsUW_uu7I&callback=initMap"
        async defer></script>
        <script>if (window.module) module = window.module;</script>
    </body>
</html>
